.fav{
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(175, 217, 175);
    color: white;
    justify-content: center;
    text-align: center;
    margin: 150px 200px 200px 500px;
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 400px;
    }